*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
    background-image: url(../images/wp.jpg);
    background-size: contain;
}


.btn{
    display: flex;
    justify-content: center;
}